*.md text=auto
*.ini text=auto
*.cfg text=auto
*.txt text=auto
*.sh text=auto
*.bat text=auto
*.fx text=auto
*.fxh text=auto
*.json text=auto
*.config text=auto
*.xml text=auto
*.map text=auto

*.png binary
*.jpg binary
*.jpeg binary
*.cur binary
*.dat binary
*.mix binary
*.csf binary
*.wma binary
*.wav binary
*.xnb binary
*.pdb binary
*.dll binary
*.exe binary
*dylib binary
*.so.* binary
